// colors

$colors : (
    'primary' : #1da1f2,
    'success': rgb(30, 230, 180),
    'secondary': rgb(35, 35, 50),
    'warning':#ffc107,
    'danger':#dc3545,
    'odoo':#714B67,
    'white': #fff, 
    // 'gray': #f8fbfc,
    'gray':#f7f4f4,
    'cyan': #17a2b8,
    'orange': #fd7e14,
    'purple': #6f42c1,
    'transparent':transparent
);

//Break points
$break_points : (
    'xs'  : 0px,
    'sm'  : 520px,
    'md' : 768px,
    'lg'  : 1024px,
    'xl' : 1200px,
    'xxl': 1400px
);

$radius : (
    0 : 0.25rem,
    1 : 0.5rem,
)