@font-face {
    font-family: 'Raleway';
    src: url(../fonts/ExtraBold.ttf) format("opentype");
}

@import "variables";
@import "base/reset";
@import "utilities";
@import "components/alert";
@import "components/button";
@import "components/dropdown";
@import "components/input";
@import "components/pagination";
@import "components/carousel";
@import "components/modal";
@import "components/table";
@import "components/tabs";

body {
    padding: 0;
}

/*! App */
.App {
    height: 100vh;
    overflow: hidden;
    display: flex;

    aside.navigation{ /*! App aside navigation menu */
        height: 100vh;
        width: 22%;

        @media (max-width:768px) {
            display: none;
        }
        
        .navigation-header { /*! App aside header */
            width: 100%;
            padding: 15px;
            height: 10vh;
            img {
                border-radius: 0.1rem;
                margin-right: 5px;
            }
        }
        .navigation-nav { /*! App aside menus */
            width: 100%;
            padding: .91rem;
            a {
                width: 100%;
                margin-top: 2px;
                color: map-get($colors, 'gray' ) !important;
                list-style-type: none;
                transition: 0.25s;
                font-family: 'Raleway';
                padding: .75rem .4rem;
                position: relative;
                span {
                    padding-left: .85rem;
                }
                &.active, &:hover:not(.active, .collapse-item){
                    background-color: rgba(map-get($colors, 'primary'), .3);
                    border-left: 5px solid map-get($colors, 'primary');
                    border-radius: .25rem;
                }
                i.badge {
                    position: absolute;
                    right: 5px;
                    top: 1rem;
                    // ;margin: auto
                }
            }
            .navigation-dropdown {
                list-style: none;
                // padding: .4rem;
                display: block;

                .multi-collapse {
                    padding: .35rem;
                    border-radius: .25rem;
                    margin-top: 5px;
                }
            }
        }
    }/*!** End  App aside navigation menu ****/
   

    main { /*!** App main content ****/
        width: 78%;
        background-color: #f7f4f4;

        @media (max-width:768px) {
            width: 100%;
        }

        header{ 
            height: 10vh;
            padding: .75rem 0;
            z-index: 1;
            border-bottom: 1px solid #ddd;
            
            li {
                list-style: none;
            }

            .header__icons  .header__icon i {
                font-size: 1.4rem;
            }
        }


        .main-content {
            padding: 1rem .5rem;
            height: 90vh;
            overflow-y: auto;

            form {
                a.active {
                    background-color: #dee2e6 !important;
                }
                #textInput {
                    min-height: 160px !important;
                    user-select:text !important;
                }
            }

            .user-form {
                overflow: hidden;
                .user-stats {
                    position: relative;
                    margin-top: -16px;
                    margin-left: -16px;
                    margin-right: -16px;
                    margin-bottom: 16px;
                    display: flex;
                    justify-content: flex-end;
                    border-bottom: 1px solid #dee2e6;;
                    .stat-button {
                        padding: 6px 10px 0 10px !important;
                        text-align: left;
                        white-space: nowrap;
                        background-color: transparent;
                        opacity: 0.8;
                        border-radius: 0px;
                        margin-bottom: 0;
                        border-left: 1px solid #dee2e6;;
                        .stat-icon {
                            margin-left: 6px;
                            display: inline-block;
                            vertical-align: middle;
                            line-height: 44px;
                            padding-right: 10px;
                            width: 30%;
                        }
                        .stat-info{               
                            vertical-align: middle;
                            font-weight: 500;
                            max-width: 70%;
                            padding-right: .8rem;
                            line-height: 1.3;

                            span {
                                font-size: .9rem;
                            }
                        }
                    }
                }
                input {
                    height: 37px !important;
                }
            }

            .user-card{
                border: 1px solid #dee2e6;
                img{
                    width: 77px !important;
                    height: 76px !important;
                }
                small {
                    font-size: .85rem ;
                    line-height: 1.1rem !important;
                    display: block;
                }
                &.premium {
                    border-left: 3px solid map-get($colors, 'orange');
                }
                &.standard {
                    border-left: 3px solid map-get($colors, 'secondary');
                }
            }
        }
    }
}
