/** Dropdown **/

.dropdown .dropdown-toggle {
  box-shadow: none !important;
  overflow: hidden !important;
  outline: none !important;
}

.dropdown {
  @apply relative;
}
.dropdown-menu {
  @apply shadow-default bg-white min-w-[200px] absolute mt-[.25rem] hidden;
  z-index: 1;
  .dropdown-title {
    border-bottom: 1px solid #666;
    margin-bottom: 7px;
    padding-bottom: 0.7rem;
  }

  .dropdown-item {
    color: map-get($colors, "secondary") !important;
    margin-left: 0 !important;
    padding: 0.375rem 0.55rem;
    display: block;
    border-radius: 0.15rem;

    &:hover {
      color: map-get($colors, "white") !important;
      background-color: map-get($colors, "primary");
    }
  }

  ul {
    padding-left: 0 !important;
  }
}
