.alert {
    width: 350px;
    max-width: 100%;
    font-size: .875rem;
    pointer-events: auto;
    background-clip: padding-box;
    border-radius: 0.25rem;
    padding: 0;

    .alert-body{
        padding: 0.75rem;
        word-wrap: break-word;
    }

    .alert-header {
        display: flex;
        align-items: center;
        padding: 0.5rem 0.75rem;
        color: #6c757d;
        background-clip: padding-box;
        border-bottom: 1px solid rgba(0, 0, 0, .05);
        border-top-left-radius: calc(0.25rem - 1px);
        border-top-right-radius: calc(0.25rem - 1px);
    }

    span {
        margin-right: 4px;
        box-sizing: content-box;
    }

    &.alert-danger {
        background-color: rgb(248, 203, 208) !important;
        border: none;
        p {
            color: #721c24 !important;
            font-size: 14px !important;
        }
    }

    &.alert-success {
        background-color: rgb(194, 248, 244) !important;
        border: none;
        p {
            color: #1c726b !important;
            font-size: 14px !important;
        }
    }
}


