/** Dropdown **/

.dropdown .dropdown-toggle {
  box-shadow: none !important;
  overflow: hidden !important;
  outline: none !important;
}

.dropdown-menu {
  border: 1px solid #efefef;
  border-radius: 0;
  color: #666;
  height: auto;
  max-height: 95vh;
  overflow-y: auto;

  .dropdown-title {
    border-bottom: 1px solid #666;
    margin-bottom: 7px;
    padding-bottom: 0.7rem;
  }

  .dropdown-item {
    color: map-get($colors, "secondary") !important;
    font-weight: normal !important;

    text-transform: capitalize !important;
    font-size: 0.85rem !important;
    margin-left: 0 !important;
    padding: 0.3rem 0;
    display: block;
    border-radius: 0.15rem;

    &:hover {
      color: map-get($colors, "secondary");
      background-color: mix(white, map-get($colors, "primary"), 85) !important;
      padding: 0.35rem 0.55rem;
    }
  }

  .dropdown-item {
    color: map-get($colors, "secondary") !important;
    font-weight: normal !important;

    text-transform: capitalize !important;
    font-size: 0.85rem !important;
    padding: 0.25rem 0.5rem;
    border-radius: 0.15rem;
  }

  ul {
    padding-left: 0 !important;
  }
}
