.form-control {
  padding: 0.375rem 1.2rem !important;
  border-radius: 0.15rem !important;
}

.form-control-sm {
  padding: 0.375rem 1.2rem !important;
  border-radius: 0.15rem !important;
  display: block;
  width: 100%;
  appearance: none;
}

.input-image {
  position: relative;
  width: 120px;
  height: 100px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  .input-image-actions {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  img {
    max-width: 100px;
    object-fit: contain;
  }
}
.input-select {
  z-index: 1;
  li {
    list-style-type: none;
    cursor: pointer;
    border-radius: 0.2rem;
    padding: 0.3rem;
    &:hover {
      background-color: azure;
    }
  }
}
input__group {
  display: flex;
  flex-wrap: nowrap;
  border-radius: 0.15rem !important;

  input__group-text {
    // width: 55px;
    border: none;
    text-align: center;
    display: flex;
    align-items: center;
    align-content: center;
    border-radius: 0.15rem !important;
  }
  input {
    width: 92% !important;
    border: 1px solid transparent;
  }
}
