.modal {
    background-color: rgba($color: #fff, $alpha: .8);
    .modal-dialog {
        .modal-content {
            border-radius: 3px !important;
            border: none !important;
        }
    }
}