.pagination {
    .page-item {
        // margin-right: .3rem;
        &.active .page-link{
            color: map-get($colors, 'white') !important;
            border: 1px solid map-get($colors, 'secondary');
            background-color: map-get($colors, 'secondary');
        }
        .page-link {
            color: map-get($colors, 'gray');
            box-shadow: none;
            outline: none;
            color: map-get($colors, 'secondary');
            border: 1px solid #dee2e6;;
            box-shadow: none !important;
            overflow: hidden !important;
            outline: none !important;
            height: 39px;
            transition: .3s;
            border-radius: 0px !important;
            &:hover,&:focus {
                background-color: mix(white, map-get($colors, 'primary'), 85);
                border: 1px solid mix(white, map-get($colors, 'primary'), 85);
                transition: .3s;
            }
            
            &.input{
                padding: 0 !important;
                display: inline-block;
                vertical-align: middle;
                width: 6.5rem;
               
                input {
                    padding: .375rem .8rem !important;
                    display: inline-block;
                    vertical-align: middle;
                    width: 100%;
                    appearance: none;
                    -webkit-appearance: none;
                }
            }
        }
    }  
}

