

.table {
    width: 100%;
    border-radius: 5px !important;
    thead,  thead tr th{
        border-bottom: none 2px solid #efefef !important;
    }
    .table-body-striped {
        tr{
            cursor: pointer;
        }
        tr>* {
            border-right: 1px solid #dfdfdf;
        }
        tr:last-child {
            border-right: none !important;
        }
    }
    @each $color,$value in $colors {
        tr.row-#{$color} {
            color: mix(black, $value, 30);
            transition: .4s;
            &:hover{
                background-color: mix(white, $value, 95);
                font-weight: 500;
                transition: .4s;
            }
        }
    }
}