@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;800;900&family=Raleway:wght@900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

$colors: (
  "primary": #1da1f2,
  "success": rgb(30, 230, 180),
  "secondary": rgb(35, 35, 50),
  "danger": #dc3545,
  "odoo": #714b67,
  "white": #fff,
  "gray": #f7f4f4,
  "transparent": transparent,
);

:root {
  @each $color, $value in $colors {
    --#{$color}: #{$value};
  }
}

/*** 1. RESET ***/
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5em;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  min-width: 320px !important;
  font-family: "Inter", "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif, sans-serif;
  color: map-get($colors, "secondary");
  font-size: 1rem;
  overflow-x: hidden;
  background-color: map-get($colors, "gray");
}

h1 {
  font-size: 2.35em;
  @apply font-bold;
}

h2 {
  font-size: 2em;
  @apply font-bold;
}

h3 {
  font-size: 1.688em;
  @apply font-bold;
}

h4 {
  font-size: 1.375em;
  @apply font-bold;
}

h5 {
  font-size: 1.1em;
  @apply font-bold;
}

h6 {
  @apply font-bold;
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.563em !important;
  }

  h2 {
    font-size: 1.375em !important;
  }

  h3,
  h4 {
    font-size: 1.22em !important;
  }
}

ul {
  // padding: 0 !important;;
  list-style: none;
  list-style-type: none;
}

li {
  list-style: none;
  padding-left: 0 !important;
}

a {
  text-decoration: none;
  color: var(--primary);
}

a:visited {
  background-color: transparent;
}

img {
  max-width: 100%;
  height: auto;
  pointer-events: none;
}

input:not([type="radio"], [type="checkbox"]),
button,
select:not(.form-control-sm),
textarea {
  @apply py-3 px-4 rounded-sm;
  border: 1px solid transparent;
  outline: none;
}

select {
  outline: none;
  border: none;
  option {
    padding: 5px !important;
  }
}

textarea:focus,
input:focus {
  outline: 2px solid var(--blue);
}

textarea {
  resize: none;
  font-family: inherit !important;
}
