@import "./reset";
@import "./utilities";
@import "./components/button";
@import "./components/dropdown";
@import "./components/input";
@import "./components/pagination";
@import "./components/carousel";
@import "./components/modal";

.form__login {
  width: 33%;
  overflow: hidden;
  position: relative;
  .form__header {
    @apply py-2 text-center;
  }
}
@media (max-width: 768px) {
  .form__login {
    width: 94%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .form__login {
    width: 85%;
  }
}

.form__login .block__form {
  padding: 1.5em;
  width: 100%;
}
@media (max-width: 768px) {
  .form__login .block__form {
    width: 100%;
    padding: 0.85em;
  }
}
.form__login .block__form form {
  width: 100%;
}

.App {
  @apply h-screen flex overflow-hidden;
  aside.navigation {
    @apply h-screen w-[22%];
  }
}

.App aside.navigation .navigation-header,
.App .navigation .navigation-header {
  /*! App aside header */
  width: 100%;
  padding: 15px;
  height: 10vh;
}
.App aside.navigation .navigation-header img,
.App .navigation .navigation-header img {
  border-radius: 0.1rem;
  margin-right: 5px;
}
.App aside.navigation .navigation-nav,
.App .navigation .navigation-nav {
  /*! App aside menus &&*/
  width: 100%;
  padding: 0.91rem;
  overflow-y: auto;
  height: 90vh;
}
.App aside.navigation .navigation-nav a,
.App .navigation .navigation-nav a {
  width: 100%;
  margin-top: 2px;
  color: #f7f4f4;
  list-style-type: none;
  transition: 0.25s;
  font-weight: bold;
  padding: 0.55rem 0.3rem;
  position: relative;
}
.App aside.navigation .navigation-nav a span,
.App .navigation .navigation-nav a span {
  padding-left: 0.85rem;
}
.App aside.navigation .navigation-nav a.active,
.App aside.navigation .navigation-nav a:hover:not(.active, .collapse-item),
.App .navigation .navigation-nav a.active,
.App .navigation .navigation-nav a:hover:not(.active, .collapse-item) {
  background-color: rgba(29, 161, 242, 0.3);
  border-left: 5px solid #1da1f2;
  border-radius: 0.25rem;
}
.App aside.navigation .navigation-nav a i.badge,
.App .navigation .navigation-nav a i.badge {
  position: absolute;
  right: 5px;
  top: 1rem;
}
.App aside.navigation .navigation-nav .navigation-dropdown,
.App .navigation .navigation-nav .navigation-dropdown {
  list-style: none;
  display: block;
}
.App aside.navigation .navigation-nav .navigation-dropdown .multi-collapse,
.App .navigation .navigation-nav .navigation-dropdown .multi-collapse {
  padding: 0.35rem;
  border-radius: 0.25rem;
  margin-top: 5px;
}
@media (max-width: 768px) {
  .App aside.navigation {
    display: none;
  }
}
.App main {
  /*!** App main content ****/
  width: 78%;
  background-color: #f7f4f4;
}
@media (max-width: 768px) {
  .App main {
    width: 100%;
  }
}
.App main header {
  height: 10vh;
  padding: 0.75rem 0;
  z-index: 1;
  border-bottom: 1px solid #ddd;
}
.App main header li {
  list-style: none;
}
.App main header .header__icons .header__icon i {
  font-size: 1.4rem;
}
.App main .main-content {
  padding: 1rem 0.5rem;
  height: 90vh;
  overflow-y: auto;
}
.App main .main-content form a.active {
  background-color: #dee2e6 !important;
}
.App main .main-content form #textInput {
  min-height: 160px !important;
  -webkit-user-select: text !important;
  -moz-user-select: text !important;
  user-select: text !important;
}
.App main .main-content .user-form {
  overflow: hidden;
}
.App main .main-content .user-form .user-stats {
  position: relative;
  margin-top: -16px;
  margin-left: -16px;
  margin-right: -16px;
  margin-bottom: 16px;
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid #dee2e6;
}
.App main .main-content .user-form .user-stats .stat-button {
  @apply p-3;
  white-space: nowrap;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0.8;
  border-radius: 0px;
  margin-bottom: 0;
  border-left: 1px solid #dee2e6;
}

.App main .main-content .user-form .user-stats .stat-button .stat-info {
  vertical-align: middle;
  font-weight: 500;
  max-width: 70%;
  padding-right: 0.8rem;
  line-height: 1.3;
}
.App main .main-content .user-form .user-stats .stat-button .stat-info span {
  font-size: 0.9rem;
  margin-right: 5px;
}
.App main .main-content .user-form input {
  height: 37px !important;
}
.App main .main-content .user-card {
  border: 1px solid #dee2e6;
}
.App main .main-content .user-card img {
  width: 77px !important;
  height: 76px !important;
}
.App main .main-content .user-card small {
  font-size: 0.85rem;
  line-height: 1.1rem !important;
  display: block;
}
.App main .main-content .user-card.premium {
  border-left: 3px solid #fd7e14;
}
.App main .main-content .user-card.standard {
  border-left: 3px solid #232332;
}
.oe_group {
  margin: 10px 0;
}
.oe_group .oe_group_col_6 {
  width: 50%;
  vertical-align: top;
}
.oe_group > tbody > tr > td {
  vertical-align: top;
}
.oe_group .oe_label {
  border-right: 1px solid #ddd;
}
.oe_group .oe_label + td {
  padding: 0px 36px 0px 8px;
}
.oe_input {
  width: 100% !important;
  font-size: 0.8rem !important;
  outline: none;
  padding: 0px !important;
}
.oe_group[disabled="false"] {
  border-bottom: 1px solid #ccc !important;
}
td.oe_label {
  width: 0%;
  padding: 0 15px 0 0;
  min-width: 150px;
}
