@font-face {
    font-family: 'Raleway';
    src: url(../fonts/ExtraBold.ttf) format("opentype");
}

@font-face {
    font-family: 'Lato';
    src: url(../fonts/LatoRegular.ttf) format("opentype");
}

@import 'base/variables';
@import 'base/functions';
@import 'base/reset';
@import 'utilities/colors';
@import 'utilities/utilities';
@import 'components/buttons';
@import 'components/inputs';
@import 'components/card_item';

body {
    font-family: map-get($fonts, 'lato');
    padding: 0;
}

/*! App */
.App {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: rgba(map-get($colors, 'gray'), .3);
    overflow: hidden;

    aside{ /*! App aside*/
        padding: 0;
        width: 22vw;
        height: 100vh;
        div { /*! App aside heade */
            width: 100%;
            margin-top: 5px;
            padding: 0.6rem 1.5rem;
            border-bottom: 1px solid rgba(map-get($colors, 'gray'), .3);
            img {
                border-radius: 0.2rem;
                margin-right: 5px;
            }
        }
        ul { /*! App aside menus */
            width: 100%;
            padding: 15px 0px !important;
            li {
                width: 100%;
                padding: 0.6rem 1.5rem;
                color: map-get($colors, 'gray' ) !important;
                list-style-type: none;
                transition: 0.25s;
                a {
                    margin-left: 15px;
                }
                &:hover{
                    background-color: map-get($colors, 'blueo' );
                    cursor: pointer;
                }
            }
        }
        
    }
   
    main { /*! App main*/
        width: 76vw;
    }
}
